<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidprogramminginjava">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidProgrammingInJava">
        <activity
            android:name=".MenusActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />

        <activity
            android:name=".DialogsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextInputLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".ListViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DestinationActivity"
            android:exported="true" />
        <activity
            android:name=".ResultActivity"
            android:exported="true" />
        <activity
            android:name=".IntentsActivity"
            android:exported="true" />
        <activity
            android:name=".PermissionsActivity"
            android:exported="true" />
        <activity
            android:name=".CompoundButtonsActivity"
            android:exported="true" />
        <activity
            android:name=".ValidationActivity2"
            android:exported="true" />
        <activity
            android:name=".ValidationActivity1"
            android:exported="true" />
        <activity
            android:name=".EventHandlingActivity"
            android:exported="true" />
        <activity
            android:name=".ConstraintLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".GridLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".FrameLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".FirstProject"
            android:exported="true" />
        <activity
            android:name=".AutoCompleteTextViewActivity"
            android:exported="true" />
        <activity
            android:name=".MaterialButtonActivity"
            android:exported="true" />
        <activity
            android:name=".MaterialDesignsActivity"
            android:exported="true" />
    </application>

</manifest>